@import url("https://fonts.googleapis.com/css2?family=Newsreader&family=Noto+Serif+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

#root div {
  font-family: "Newsreader", "Noto Serif JP", serif;
}

/* メニュードロワー */
#chakra-modal-menuDrawer {
  font-family: "Newsreader", "Noto Serif JP", serif;
}

/* 通知ドロワー */
#chakra-modal-notificationModal {
  font-family: "Newsreader", "Noto Serif JP", serif;
}

/* コメント新規投稿モーダル */
#chakra-modal-commentModal {
  font-family: "Newsreader", "Noto Serif JP", serif;
}

/* コメント編集モーダル */
#chakra-modal-commentEditModal {
  font-family: "Newsreader", "Noto Serif JP", serif;
}

/* 削除時のアラート */
#chakra-modal-deleteAlert {
  font-family: "Newsreader", "Noto Serif JP", serif;
}

#chakra-modal-deleteUserAlertDialog {
  font-family: "Newsreader", "Noto Serif JP", serif;
}
